.listContainer {
  list-style: none;
  display: flex;
  position: relative;
}

.videoTitle {
  color: lightblue;
  font-size: 13px;
  padding: 10px;
}

.delete {
  display: none;
}

// .listContainer:hover {
//   background-color: red;
// }

// .listContainer:hover .delete {
//   display: inline-block;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   z-index: 5;
// }

.topContainer:hover .delete {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}
