.listContainer {
  list-style: none;
  display: flex;
  position: relative;
}

.videoTitle {
  color: lightblue;
  font-size: 13px;
  padding: 10px;
}

.delete {
  display: none;
}

.topContainer:hover .delete {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 5;
  color: salmon;
}
