.input {
  width: 50%;
  padding: 0.5rem;
  border: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #3a3b3c;
  color: white;
}

.searchContainer {
  flex: 60%;
}

.searchButton {
  padding: 0.5rem 2rem;
  background-color: skyblue;
  border: none;
  color: white;
  cursor: pointer;
}
