.container {
  background-color: #242426;
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
  flex: 30%;
}

.time {
  padding: 0.4rem;
  color: white;
}

.selectorBox {
  display: flex;
}

.selectorBox a {
  color: white;
  width: 50%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  background-color: grey;
}

.searchBox {
  display: flex;
}

.searchBox a {
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  background-color: grey;
}


